// .about-me__section,
// .about-me__social,
// .about-me__heading {
//     padding-bottom: 25px;

//     &:hover {
//         h2 {
//             &:after {
//                 content: ' ';
//                 width: 100%;
//                 transition: width 0.3s ease-out;
//             }
//         }
//     }
// }

.about-me {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p.heading {
        width: 70%;
    }

    @include minSmall {
        flex-direction: column;
        justify-content: center;
    }

    @include minLarge {
        flex-direction: row;
        justify-content: center;
    }

    &__thumb {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;


        @include minSmall {
            padding-right: 25px;
        }

        img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            border: 5px solid white;
        }

    }
}


// ul {
//     padding-left: 20px;
//     margin: 25px 0px;
// }

// li {
//     padding-bottom: 10px;
// }

// h2 {
//     font-size: 1.3rem;
//     margin-top: 25px;
//     margin-bottom: 10px;
//     position: relative;
//     display: inline-block;

//     &:after {
//         content: ' ';
//         width: 10px;
//         border-bottom: 3px solid black;
//         position: absolute;
//         bottom: -5px;
//         left: 0px;
//     }