#about-me {
    display: flex;
    flex-direction: column;



    @include minSmall {}
}

.about-me__section,
.about-me__social {
    &:hover {
        h2 {
            &:after {
                content: ' ';
                width: 100%;
                transition: width 0.3s ease-out;
            }
        }

    }
}

.about-me {
    position: relative;

    h2 {
        font-size: 1.3rem;
        margin-top: 25px;
        margin-bottom: 10px;
        position: relative;
        display: inline-block;

        &:after {
            content: ' ';
            width: 10px;
            border-bottom: 3px solid black;
            position: absolute;
            bottom: -5px;
            left: 0px;
        }
    }

    // h2:hover {
    //     &:after {
    //         content: ' ';
    //         width: 100%;
    //         transition: width 0.3s ease-out;
    //     }
    // }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include minSmall {
            flex-direction: row;
            justify-content: center;
        }

    }

    &__thumb {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        @include minSmall {
            padding-right: 25px;
        }

        img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            background-color: white;
            padding: 5px;
        }

    }

    &__description {
        margin-bottom: 25px;

        p.heading {
            width: 70%;
        }

        @include minSmall {
            margin-top: 30px;
        }

        ul {
            padding-left: 20px;
            margin: 25px 0px;
        }

        li {
            padding-bottom: 10px;
        }


    }

    &__social {
        margin-bottom: 25px;
    }

    &__icon-container {
        display: flex;
        margin-bottom: 25px;
    }

    &__icon {
        margin: 10px;

        &:first-child {
            margin: 10px 10px 10px 0px;
        }

        img {
            filter: grayscale(0.5);
        }
    }
}