.animation-wrapper {
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    -webkit-backface-visibility: hidden;
    /* add to fix webkit bug jitter */
    -webkit-transform: perspective(1000px);
    /* add to fix webkit bug jitter */
}

#my-name-into,
#animation-text-bottom,
.package,
#animation-text-top,
#animation-text-bottom {
    opacity: 0;
}

#hi {
    font-size: larger;
    font-weight: 800;
}

#animation-text-top,
#animation-text-bottom {
    position: relative;
    display: flex;
}

#animation-text-bottom {
    top: -20px;
    opacity: 0.5;
    float: right;
    right: 50px;

    @include minMedium {
        top: -50px;
        opacity: 0.5;
        right: 100px;
    }

    @include minLarge {
        top: -80px;
        opacity: 0.5;
        right: 100px;
    }
}

.animation-intro__text {
    color: white;

    h1 {
        margin-bottom: -10px;
        font-size: 2rem;

        @include minMedium {
            margin-bottom: -20px;
        }


    }

    span {
        margin-right: 25px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.animation-text--dev,
.animation-text--white {
    font-family: sans-serif;
    font-weight: bold;

    will-change: transform;
    will-change: scale;
}

.animation-text--white {
    font-size: 3.5rem;
    letter-spacing: -0.3rem;
    text-shadow: -0.02em 0 0 #F22613, 0.02em 0 0 #00FFFF;

    @include minSmall {
        font-size: 6rem;
    }

    @include minMedium {
        font-size: 7rem;
        letter-spacing: -1.1rem;
    }

    @include minLarge {
        font-size: 8rem;
    }

    color: #FFFFFF;
}

.animation-text--dev {
    font-size: 5rem;
    letter-spacing: -0.5rem;

    @include minMedium {
        font-size: 7rem;
    }

    @include minLarge {
        font-size: 9rem;
    }

    text-shadow: -0.03em 0 0 black,
    0.03em 0 0 black;
}



//Heading-nav_subtitle animation *Online Portfolio*
.heading-nav__menu {
    overflow: hidden;
    // animation: headingTextOpacity 0.5s ease-in;
    // animation-fill-mode: backwards;
}


//Engineer with passion for design
.heading-block__slogan {
    overflow: hidden;
    animation: headingTextOpacity 2s ease-in-out 4.5s;
    animation-fill-mode: backwards;
}


@keyframes headingTextOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scrollBounce {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    50% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}