.animation-wrapper {
    position: relative;
    float: right;
    -webkit-backface-visibility: hidden;
    /* add to fix webkit bug jitter */
    -webkit-transform: perspective(1000px);
    /* add to fix webkit bug jitter */
}

#animation-text-top,
#animation-text-bottom {
    position: relative;
    display: flex;
}

#animation-text-bottom {
    top: -50px;
    opacity: 0.3;
    float: right;
    right: 50px;

    @include minMedium {
        top: -100px;
        opacity: 0.3;
        right: 100px;
    }
}

.animation-text--dev,
.animation-text--white {
    font-family: sans-serif;
    font-weight: bold;

    will-change: transform;
    will-change: scale;
}

.animation-text--white {
    font-size: 5rem;
    letter-spacing: -1.1rem;
    text-shadow: -0.02em 0 0 #F22613, 0.02em 0 0 #00FFFF;

    @include minMedium {
        font-size: 8rem;
    }

    @include minLarge {
        font-size: 9rem;
    }

    color: #FFFFFF;
    //text-shadow: -0.03em 0 0 white, 0.03em 0 0 white;
}

.animation-text--dev {
    font-size: 5rem;
    letter-spacing: -0.5rem;

    @include minMedium {
        font-size: 9rem;
    }

    @include minLarge {
        font-size: 12rem;
    }

    text-shadow: -0.03em 0 0 black,
    0.03em 0 0 black;
}