.certificates-entry {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    &__thumb {
        margin-right: 25px;

        img {
            width: 50px;
            max-height: 100px;
        }
    }

    &__title {


        h1 {
            font-size: 1.1rem;
            margin-bottom: 0px;
            font-weight: 700;
        }

        a {
            text-decoration: none;
        }
    }
}