#contacts {
    text-align: center;

    @media (max-width: 767px) {
        background-color: rgba($green, 0.8);
    }

    .section__right {
        padding: 0px;

        @include minSmall {
            padding: 3%;
        }
    }
}


.contacts__section {

    ul {
        display: inline-block;
        padding: 25px;
        text-align: left;


        @include minSmall {
            // background-color: rgba($green, 0.8);
            margin: 50px 0px 25px;
            padding: 10px 7%;
            -moz-column-count: 2;
            -moz-column-gap: 50px;
            -webkit-column-count: 2;
            -webkit-column-gap: 50px;
            column-count: 2;
            column-gap: 50px;
        }

    }

    li {
        padding-bottom: 15px;
        line-height: 1.5rem;
        list-style-position: inside;


    }

    p {
        padding-bottom: 50px;
    }

    h2 {
        font-size: 1.3rem;
        margin-top: 25px;
        margin-bottom: 10px;
        position: relative;
        display: inline-block;

        .contacts__section,
        .contacts__social,
        .contacts__heading {
            padding-bottom: 25px;
        }

    }
}

.contacts__cta {
    height: 7rem;

    a {
        margin-top: 5vh;
        display: inline-block;
        padding: 1rem 3rem;
        text-decoration: none;
        font-weight: 900;
        background-color: $yellow;
        transition: all 0.3s ease;
        box-shadow: 0px 3px 10px $darkGreen;
        text-transform: capitalize;

        &:active {
            color: white;
            background-color: $green;

        }

        &:hover {
            border-radius: 5px;
            padding: 1rem 3.5rem;
            box-shadow: 0px 5px 10px $darkGreen;
            transform: translateY(-5px);
        }

    }
}