footer {
    width: 100%;
    padding: 25px;
    color: white;
    background-color: $mainBlue;
    opacity: 0.9;
    border-top: 5px solid $green; // background-image: linear-gradient($yellow, $orange);
    display: flex;
    justify-content: space-between;
}