footer {
    width: 100%;
    padding: 25px;
    color: white;
    background-color: $mainBlue;
    opacity: 0.9;
    border-top: 5px solid $green; // background-image: linear-gradient($yellow, $orange);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.footer__title {
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
        display: block;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
    }
}