footer {
    position: relative;
    width: 100%;
    padding: 25px;
    color: white;
    border-top: 5px solid $green; // background-image: linear-gradient($yellow, $orange);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    z-index: 3;
    background: $mainBlue;

    svg {
        color: rgba(255, 255, 255, 0.9);
    }
}

.footer__title {
    width: 100%;
    display: flex;
    justify-content: space-between;

    display: block;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}