.heading-block {
    position: relative;
    text-align: right;
    width:100%;
    min-height:90vh;
   
    @include minSmall {
        text-align: right;
        float: right;
        padding-right: 15%;
    }

    &__subtitle {
        font-size: 1rem;
    }

    &__username {
        padding-top:30vh;
        font-size: 1.5rem;

        @include minSmall{
            padding-top: 40vh;
        }
    }
    
    &__title {
        font-size: 2.3rem;
        margin: 0px;
        
        
        @include minSmall {
            margin: 15px 0px 10px 0px;
            font-size: 3.8rem;
        }
    }

    &__slogan {
        font-size: 1.3rem;
        margin-top:25px;
        @include minSmall{
            position: absolute;
            bottom: 0px;
            right:15%;
        }
    }
    
    &__keywords {
        margin: 50px 0px 0px;

        @include minSmall {
            margin: unset;
           transform: rotate(-90deg);
           position: absolute;
           left: 0px;
        }
    }

    
}


