.heading-nav {
    display: flex;
    justify-content: space-between;

    &__menu {}

    &__subtitle {
        font-size: 1rem;
    }
}

.heading-block {
    position: relative;
    text-align: right;
    width: 100%;
    min-height: 90vh;

    @include minSmall {
        text-align: right;
    }

    @include minMedium {
        display: flex;
        justify-content: space-between;
    }


    &__username {
        padding-top: 30vh;
        font-size: 1.5rem;

        @include minSmall {
            padding-top: 40vh;
        }
    }

    &__title {
        font-size: 2.3rem;
        margin: 20vh 0 0 0px;

        @include minSmall {
            // margin: 15px 0px 10px 0px;
            font-size: 3.8rem;
            width: 100%;
        }

        @include minMedium {
            margin-right: 20vh;
            margin-top: 20vh;
        }

        @include minLarge {
            margin-right: 20vh;
            margin-top: 20vh;
        }
    }

    &__slogan {
        font-size: 1.3rem;
        margin-top: 25px;

        @include minSmall {
            position: absolute;
            bottom: 0px;
            right: 15%;
        }
    }

    &__keywords {
        margin: 50px 0px 0px;

        @include minSmall {
            margin: unset;
            transform: rotate(-90deg);
            position: absolute;
            left: 0px;
        }
    }
}