.menu-hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;

    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: darken($darkGreen, 10);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    &__toggler {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    &__line {
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        background-color: white;
        transition: all 1s ease;
        z-index: 2;

        &:before,
        &:after {
            content: ' ';
            position: absolute;
            width: 20px;
            height: 2px;
            top: -7px;
            background-color: inherit;
        }

        &:after {
            top: 7px;
        }
    }

}

.menu-hamburger__toggler:hover+.menu-hamburger__line {
    top: 0;
    left: 0;
    width: 27px;

}

.menu-hamburger__toggler:checked+.menu-hamburger__line {
    transform: rotate(135deg);
}

.menu-hamburger__toggler:checked+.menu-hamburger__line:before,
.menu-hamburger__toggler:checked+.menu-hamburger__line:after {
    top: 0;
    transform: rotate(90deg);
}


.heading-nav {
    &__menu {
        display: none;
    }
}