.menu-hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;

    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: darken($darkGreen, 10);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    &__toggler {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    &__line {
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        background-color: white;
        transition: all 0.5s ease;
        z-index: 2;

        &:before,
        &:after {
            content: ' ';
            position: absolute;
            width: 20px;
            height: 2px;
            top: -7px;
            background-color: inherit;
        }

        &:after {
            top: 7px;
        }
    }
}

.menu-hamburger__toggler:hover+.menu-hamburger__line {
    top: 0;
    transform: scale(1.2);
}

.menu-hamburger__toggler:checked+.menu-hamburger__line {
    transform: rotate(135deg);
}

.menu-hamburger__toggler:checked+.menu-hamburger__line:before,
.menu-hamburger__toggler:checked+.menu-hamburger__line:after {
    top: 0;
    transform: rotate(90deg);
}


.heading-nav__menu {
    position: fixed;
    top: 0px;
    left: -100%;
    height: 70px;
    width: 100%;
    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: rgba($darkGreen, 0.8);

    ul {
        list-style: none;
        margin-left: 70px;
    }

    li {
        display: inline-block;
        color: white;
        margin-right: 20px;

        a {
            color: inherit;
            text-decoration: none;
        }

        li:last-child {
            margin-right: 0px
        }
    }
}

.menu-visible {
    visibility: visible;
    transform: translateX(100%);
    opacity: 1;
    transition: all 0.5s ease;
}