.menu-hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;

    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: darken($darkGreen, 10);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    @include minSmall {
        display: none;
    }

    &__toggler {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    &__line {
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        background-color: white;
        transition: all 0.5s ease;
        z-index: 2;

        &:before,
        &:after {
            content: ' ';
            position: absolute;
            width: 20px;
            height: 2px;
            top: -7px;
            background-color: inherit;
        }

        &:after {
            top: 7px;
        }
    }
}

.menu-hamburger__toggler:hover+.menu-hamburger__line {
    top: 0;
    transform: scale(1.2);
}

.menu-hamburger__toggler:checked+.menu-hamburger__line {
    transform: rotate(135deg);
}

.menu-hamburger__toggler:checked+.menu-hamburger__line:before,
.menu-hamburger__toggler:checked+.menu-hamburger__line:after {
    top: 0;
    transform: rotate(90deg);
}



.heading-nav__menu {
    display: none;

    @media (max-width:767px) {
        left: -100%;
        justify-content: center;
        transition: all 0.2s ease;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: rgba($darkGreen, 1);

        h3 {
            display: none;
        }

        ul {
            list-style: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        li {
            display: block;
            list-style-position: inside;
            margin-bottom: 25px;
            color: $lightGrey;
        }

        a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 20px;
            text-align: center;


            &:hover {
                color: white;
                background-color: darken($darkGreen, 20);
                transition: all 0.2s ease;
            }
        }
    }

    @include minSmall {
        display: flex;
        position: absolute;
        top: -50px;
        width: 100%;
        z-index: 3;
        left: 0px;
        visibility: visible;
        opacity: 1;
        left: 0;
        height: 70px;
        background: none;
        justify-content: flex-end;
        align-items: center;
        transition: none;

        h3 {
            display: block;
            font-size: 0.9rem;
            padding-right: 25px;
            border-right: 1px solid black;
        }
    }

    @include minMedium {
        padding-right: 15%;
    }

    @include minLarge {
        padding-right: 25%;
    }

    ul {
        list-style: none;
        height: 100%;
        display: flex;

        @include minSmall {
            flex-direction: row;
            padding-left: 50px;

        }
    }

    li {
        color: $lightGrey;

        @include minSmall {
            display: flex;
            align-items: center;
            margin-right: 50px;
            margin-bottom: 0px;

            li:last-child {
                margin-right: 0px
            }
        }

        a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 20px;
            text-align: center;

            @include minSmall {
                font-size: 0.8rem;
                padding: 10px;
                position: relative;
                color: $lightGrey;

                &:hover {
                    transition: all 0.2s ease;
                    background: none;
                    outline: none;
                    color: inherit;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0px;
                        left: 0px;
                        background-color: white;
                    }
                }
            }


        }
    }
}

.menu-visible {
    display: flex;
    position: fixed;
    visibility: visible;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 3;
}