#recentPr-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recentPr-entry {
    // margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    position: relative;


    @include minSmall {
        width: 33.33%;

        // &:nth-child(odd) {
        //     padding-right: 10px;
        // }

        // &:nth-child(even) {
        //     padding-left: 10px;
        // }
    }

    &__title {
        display: block;
    }

    &__thumb {
        background-color: grey;
        width: 100%;
        height: 300px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__hover {
        display: hidden;
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 25px;

        p {
            padding-bottom: 0px;
        }

        &:hover {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 1;
            background-color: rgba(255, 255, 255, 0.5);
            transition: opacity 0.5s ease-in;
        }
    }

    &__description {
        text-align: center;
    }

}