#recentPr-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.recentPr-entry {
    // margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10vh;

    &__reveal-mask {
        opacity: 0.2;
        width: 100%;
        height: 100%;
        background-color: pink;
    }

    img {
        width: 100%;
    }


    @include minSmall {
        width: 80%;
    }

    @include minLarge {
        width: 50%;
    }

    &__title {
        display: block;
        text-align: center;

        h1 {
            font-size: 1.3rem;
            font-weight: 400;

            @include minSmall {
                font-size: 1.8rem;
            }

            @include minSmall {
                // width: 50%;
            }
        }
    }

    &__thumb {
        width: 100%;
        height: 320px;
        overflow: hidden;
    }

    &__hover {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 25px;

        img {
            width: 150%;
        }

        transition: opacity 0.5s ease;

        &:hover {
            box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .3);
            opacity: 1;
            transition: all 0.3s ease;
            cursor: pointer;

        }

        &:before {
            content: '';
            position: absolute;
            background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 1) 100%);
            background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 1) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 1) 100%);

            left: -100%;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
        }

        &:hover::before {
            content: '';
            opacity: 1;
            transform: translateX(100%);
            transition: all 0.3s ease;
        }

        a {
            display: inline-block;
            text-decoration: none;
            position: relative;
            padding: 25px 25px 25px 25px;
            background-color: $mainBlue;
            color: white;
            margin-right: -25px;

            &:hover {
                // margin-right: 25px;
                transition: all 0.5s ease;
                background-color: $lightBlue;

                &:after {
                    filter: invert(1);
                    content: url('/src/img/icons/launch-24px.svg');
                    position: relative;
                    display: inline-block;
                    margin-left: 15px;
                    transition: all 0.5s ease;
                }
            }
        }

        p {
            padding-bottom: 0px;
        }
    }

    &__description {
        text-align: right;
        font-weight: 700;
        z-index: 3;
    }

}