#bio {
    background-image: url('../img/background-white.jpg');
    background-size: cover;
}

.section {
    width: 100%;
    padding: 50px 25px 75px 25px;
    background-image: none;

    &__title {
        padding-bottom: 50px;
    }

    &--big {
        @include minMedium {
            padding: 125px 8%;
        }

        @include minLarge {
            padding: 125px 10%;
        }
    }

    &--middle {
        @include minMedium {
            padding: 125px 20%;
        }

        @include minLarge {
            padding: 125px 25%;
        }
    }

    h1 {
        margin-bottom: 25px;
    }


    &__left {
        margin-bottom: 50px;
        padding-top: 25px;

        &>div {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        @include minSmall {
            padding-top: 0px;
            width: 50%;
            padding-right: 30px;
            margin-bottom: 0px;
        }

        @include minLarge {
            padding-right: 50px;
            border-right: 1px dotted $mainGrey;
        }
    }

    &__right {
        padding-top: 25px;

        &>div {
            margin-bottom: 75px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        @include minSmall {
            padding-top: 0px;
            padding-left: 30px;
            width: 50%;
        }

        @include minLarge {
            padding-left: 50px;
        }
    }
}