#certificates {
    position: relative;
    min-height: 200px;
    width: 100%;
    border-bottom: 5px solid $lightGrey;

    &:after {
        content: "";
        background: url('../img/background-white.jpg');
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}

#testimonial {
    position: relative;

    @include minSmall {

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0px;
            width: 65%;
            height: 100%;
            background-color: rgba($yellow, 1);
            z-index: -1;
        }
    }

}


#experience {
    background-color: lighten($lightGrey, 8);

}

#contacts {
    position: relative;

    @include minSmall {

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0px;
            width: 65%;
            height: 100%;
            background: linear-gradient(rgba($green, 0.3), rgba($green, 0.5), rgba($green, 0.7), rgba($green, 1)), url(../img/letters.jpg);
            background-position: center bottom;
            background-repeat: no-repeat;

            z-index: -1;
        }
    }
}

.section {
    width: 100%;
    padding: 50px 25px 75px 25px;
    background-image: none;

    &__title {
        padding-bottom: 50px;
    }

    &--big {
        @include minMedium {
            padding: 100px 8% 125px;
        }
    }

    &--middle {

        @include minSmall {
            padding: 100px 10%;
        }

        // @include minMedium {
        //     padding: 100px 25%;
        // }

        @include minLarge {
            // padding: 150px 25%;
        }
    }

    &--broken {
        display: flex;
        flex-direction: column;

        @include minSmall {
            flex-direction: row;
        }

        .section__left {
            margin-bottom: 0px;
            text-align: right;
            border: none;

            @include minSmall {
                @include flex--rc;
            }

            @include minMedium {
                width: 30%;
            }

            @include minLarge {
                width: 40%;
            }
        }

        .section__right {
            @include minSmall {
                width: 70%;
                padding: 5% 10% 5% 7%;
            }

            @include minLarge {
                width: 60%;
                padding: 5% 20% 5% 10%;
            }
        }
    }

    h1 {
        margin-bottom: 25px;
    }


    &__left {
        margin-bottom: 50px;
        padding-top: 25px;

        &>div {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        @include minSmall {
            padding-top: 0px;
            width: 50%;
            padding-right: 30px;
            margin-bottom: 0px;
        }

        @include minLarge {
            padding-right: 50px;
            border-right: 1px dotted $mainGrey;
        }
    }

    &__right {
        padding-top: 25px;

        &>div {
            margin-bottom: 75px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        @include minSmall {
            padding-top: 0px;
            padding-left: 30px;
            width: 50%;
        }

        @include minLarge {
            padding-left: 50px;
        }
    }
}