.section {
    width: 100%;
    padding: 50px 25px;
    // min-height: 100vh;
    background-color: #fdfdfd;

    &:hover {
        //background-color: grey;
        //background-color: #CDDCDC;
        background: radial-gradient(circle at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
        background-blend-mode: screen, overlay;
        transition: background-color 0.5s ease-in-out;
    }

    h1 {
        margin-bottom: 25px;
    }

    @include minSmall {
        //background-color: red;
        color: black;
    }

    &__left {
        margin-bottom: 25px;

        @include minSmall {
            margin-bottom: 0px;
        }

        &>div {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        padding-top: 25px;

        // min-height: 100vh; 
        @include minSmall {
            padding-top: 0px;
            border-right: 1px solid black;
            width: 50%;
            padding-right: 25px;
        }
    }

    &__right {
        &>div {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        padding-top: 25px;

        // min-height: 100vh;
        @include minSmall {
            padding-top: 0px;
            padding-left: 25px;
            width: 50%;
        }
    }
}