.social {
    &__icon-container {
        display: flex;
    }

    &__icon {
        margin: 10px;

        &:first-child {
            margin: 10px 10px 10px 0px;
        }

        // img {
        //     filter: grayscale(0.5);
        // }
    }
}