.social-icon {
    &__container {
        display: flex;

        &:first-child {
            margin: 10px 10px 10px 0px;
        }
    }

    &__item {
        margin: 10px;
        width: 24px;
        overflow: hidden;
        position: relative;
    }
}

.social-icon__container--vertical {
    flex-direction: column;

    &:first-child {
        margin: 10px;
    }
}