.tech-stack {

    &__ul {
        list-style: none;

        li {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: 600;
            padding-bottom: 25px;

            &:after {
                content: " / ";
            }
        }

        ul:last-of-type {
            li {
                padding-bottom: 0px;
            }
        }

    }

}