$mainBlue: #173F5F;
$lightBlue: #20639B;
$green: #3CAEA3;
$darkGreen: #2e707c;
$lightGrey: #E6E6E6;
$darkGrey: darken($lightGrey, 60);
$mainGrey: #C7C9CF;
$orange: #eb8424;
$yellow:#ffef42; //;
$yellowDark: #F6D55C;