/* main vars */

/* font-family: 'Montserrat', sans-serif;*/
$mainBlue: #173F5F;
$lightBlue: #20639B;
$green: #3CAEA3;
$darkGreen: #2e707c;
$lightGrey: #E6E6E6;
$mainGrey: #C7C9CF;
$orange: #ED553B;
$yellow: #F6D55C;


/*---- Imports of Modules ----*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap');
@import '_mixins';
@import '_main';

@import '_section';
@import '_heading-block';
@import '_tech-stack';
@import '_cv-entry';
@import '_github';
@import '_animation';
@import '_recent-projects';
@import '_about-me';
@import '_certificates';
@import '_testimonial';
@import '_footer'