@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
    font-weight: 800;
}

/*---- Imports of Modules ----*/
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap');
@import '_vars';
@import '_mixins';
@import '_main';

@import '_section';
@import '_menu';
@import '_heading-block';
@import '_tech-stack';
@import '_cv-entry';
@import '_github';

@import '_recent-projects';
@import '_about-me';
@import '_certificates';
@import '_testimonial';
@import '_footer';
@import '_social-container';
@import '_package';

@import '_animation';